

<div *ngIf="!isAuthentiated">
    <app-user-login></app-user-login>
</div>

<div *ngIf="isAuthentiated" class="example-container">
    <mat-toolbar color="primary" class="example-toolbar">
      <button *ngIf="!isMenuOpen" (click)="menuOpen();isMenuOpen = true" mat-icon-button><mat-icon>menu</mat-icon></button>
      <button *ngIf="isMenuOpen" (click)="menuOpen();isMenuOpen = false" mat-icon-button><mat-icon>close</mat-icon></button>
      <h1 class="example-app-name">Dashboard App</h1>
      <span class="example-spacer"></span>
      <app-mat-toolbar></app-mat-toolbar>
    </mat-toolbar>
  
    <mat-sidenav-container class="example-sidenav-container">
      <mat-sidenav #snav>
        <app-sidenavbar></app-sidenavbar>
      </mat-sidenav>
  
      <mat-sidenav-content>
        <router-outlet></router-outlet>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
  

  